<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Example - example-guide-concepts-1-production</title>


  <script src="http://code.angularjs.org/snapshot/angular.min.js"></script>
  <script src="index.js"></script>



</head>

<body>
<div ng-app="eits" ng-controller="EitController as eit">
    <b>EIT Details:</b>
    <div>
      First Name:
      <input type="text" min="0" ng-model="eit.fname">
    </div>

    <div>
      Last Name:
      <input type="text" min="0" ng-model="eit.lname">
    </div>

    <div>
      DOB:
      <input type="date" min="0" ng-model="eit.dob">
    </div>
    <div>
      Gender:
      <input type="text" min="0" ng-model="eit.gender">
    </div>
    <div>
      <b>EIT Details:</b> </br>First Name: {{eit.fname}}</br> Last Name: {{eit.lname}} </br> DOB:{{eit.dob | date}}
      </br>Gender:{{eit.gender}}
      <br> Full Name: {{eit.getFullName() }} </br> Age: {{ eit.dob ? eit.getAge(dob) : ''}}
    </div>
  </div>
</body>

</html>